@charset "UTF-8";

html {
    font-size: 90%;
    line-height: 1.8;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    background-color: #fff5f5;
}

h1{
    padding: 1rem 2rem;
    color: #fff;
    background: rgb(0, 105, 153);
    -webkit-box-shadow: 5px 5px 0 #005070;
    box-shadow: 5px 5px 0 #000770;
}

a:link {
    text-decoration: none;
}

input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=number],
.select_box,
textarea {
    width: 360px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #cacaca;
}

.container {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.input
{
    width: 100%;
    box-sizing:border-box;
}

header {
    background: #95dfff;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .brand {
    font-size: 2rem;
    margin-left: 0;
    color: #fcfcfc;
    text-shadow: 0 1px 0 #ccc, 0 3px 0 #ccc, 0 4px 10px rgba(0, 0, 0, .2);
}

.navigation {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation li {
    padding: 0 10px;
    text-decoration-line: underline;
}


table.table {
    background-color: rgb(204, 255, 255);
    border-collapse: collapse;
    margin: 1rem auto;
}

table.show_table {
    border:2px solid ;
    margin: 1rem auto;
}

table.table thead,
table.show_table th {
    background: #c8e6ff;
    font-weight: bold;
}

table.table th,
table.table td,
table.show_table th,
table.show_table td {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

dt {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

dd {
    margin-bottom: 15px;
}

svg.w-5.h-5 {
    width: 25px;
    vertical-align: middle;
}

.div_button
{
    margin: 10px ;
}

.alert
{
    color: red;
}

.alert_li
{
    list-style:none;
}

.submit_button
{
    width: 90px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #cacaca;
    /* background-color: rgb(197, 197, 245); */
}

.delete_button
{
    width: 90px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #cacaca;
    color: white;
    background-color: #dc3545;
    /* font-weight: bold; */
}
